.converter {
  width: 300px;
  height: 300px;
  margin: 100px 0 0 40px;
  background-image: linear-gradient(154deg, #2b3b48 32%, #8093a5 115%);
}
.main-content {
  margin-left: 120px;
}
.ayrac {
  width: 365px !important;
  height: 1px;
  opacity: 0.3;
  background-color: #bac9d5;
}
.ayrac2 {
  width: 365px !important;
  height: 1px;
  margin-right: 78px;
  opacity: 0.3;
  background-color: #bac9d5;
}
.x {
  width: 100px;
}
span {
  display: block;
}
img.Group-7 {
  margin-top: 3px;
  width: 40px;
  object-fit: contain;
}
.container {
  margin: 0 !important;
  width: 900px !important;
}
.markets_name {
  width: 86px;
  height: 24px;
  margin: 1px 50px 24px 13px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #2b3b48;
  white-space: nowrap;
}
.markets_tag {
  width: 31px;
  height: 20px;
  margin: 42px 104px 0 14px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: #2b3b48;
}
.ALI {
  width: 26px;
  height: 14px;
  margin: 42px 41px 6px 82px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #4f6477;
}
.price {
  width: 50px;
  height: 24px;
  margin: 6px 41px 25px 58px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: right;
  color: #2b3b48;
}

.SATI {
  width: 33px;
  height: 14px;
  margin: 42px 76px 6px 75px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #4f6477;
}
.btn {
  border-radius: 0px !important;
  white-space: nowrap;
}
button.second-button {
  margin: 0 380px 0 65px;
  padding: 10px 130px 10px 130px;
  background-color: #fff;
  color: #2b3b48;
  border: 2px solid #4f6477;
}
button.second-button:not([disabled]):not(.disabled).active,
button.second-button:not([disabled]):not(.disabled):active,
button.second-button:not([disabled]):not(.disabled).hover,
button.second-button:not([disabled]):not(.disabled):hover {
  color: #2b3b48;
  background-color: #fff;
  border: 2px solid #4f6477;
}
button.first-button {
  margin-left: 10px;
  padding: 10px 136px 10px 136px;
  background-color: #2b3b48;
  color: #fff;
  border: 2px solid #2b3b48;
  font-family: Roboto;
}
button.first-button:not([disabled]):not(.disabled).active,
button.first-button:not([disabled]):not(.disabled):active,
button.fisrt-button:not([disabled]):not(.disabled).hover,
button.first-button:not([disabled]):not(.disabled):hover {
  color: #fff;
  background-color: #2b3b48;
  border: 2px solid #2b3b48;
}

.Dviz-evir {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.input {
  border: none;
  border-right: 0.5px solid #eaeef2;
}
.form-select {
  border: none !important;
  border-radius: 0px !important;
}
img.ButtonsChange {
  width: 48px;
  height: 48px;
  margin: 28px 125px 28px 125px;
  object-fit: contain;
}
.sonuc {
  margin-left: 15px;
  width: 270px;
  padding: 10px;
  background-color: #fff;
}

.TL {
  padding-top: 2px;
  width: 20px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: right;
  color: #2b3b48;
}
@media only screen and (max-device-width: 575px) {
  .main{
    margin-top: 100px;
  }
  .main-content {
    margin: 0;
  }
  .head {
    padding-left: 75px !important;
  }
  .country {
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  .x {
    margin: 40px 0 40px 0;
  }
  .phone-ayrac {
    width: 780px;
    margin: 0 80px 0 50px;
    height: 1px;
    opacity: 0.3;
    background-color: #bac9d5;
  }
  .converter {
    margin-top: 0;
    min-width: 780px;
    margin-left: 65px;
  }
  .form-select {
    width: 11% !important;
  }
  img.ButtonsChange {
    margin: 28px 370px;
  }
  .sonuc {
    width: 264px;
    margin-left: 258px;
  }
  button.first-button{
    margin-bottom: 20px;
  }
  button.second-button{
    margin-bottom: 20px;
  }
  button.btn {
    margin: 0 0 0 65px;
    width: 780px;
  }
}
